@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;

  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Rokkitt", "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.h-fit-content {
  height: fit-content;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.my-48 {
  margin-top: 72px;
  margin-bottom: 72px;
  @media screen and (max-width: 768px) {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.mt-24 {
  margin-top: 24px;
}
.mt-48 {
  margin-top: 48px;
}
.mahadika-button {
  background-color: #5f59ff;
  border: 2px solid #5f59ff !important;
  box-shadow: none !important;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  &:hover {
    background-color: transparent !important;
    border: 2px solid #5f59ff !important;
    color: #5f59ff !important;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.custom-search .ant-input-search-button {
  background-color: #5f59ff !important;
  border-color: #5f59ff !important;
  color: white !important;
}

.custom-search .ant-input-search-button:hover,
.custom-search .ant-input-search-button:focus {
  background-color: #5f59ff !important; /* Darker on hover */
  border-color: #5f59ff !important;
}
