.home_page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fefefe;
}
.home_page_subcontainer {
  padding: 24px 32px;
  max-width: 1440px;
}
.home_page_subheading {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #28256b;
  margin-top: 24px;
  margin-bottom: 24px;
  @media screen and (max-width: 576px) {
    font-size: 16px;
    line-height: 24px;
  }
}
.home_page_heading {
  font-family: Rokkitt;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
}
.home_page_description {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

ul.home_page_list {
  margin-top: 24px;
  padding-left: 0;

  li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-family: Rokkitt;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;

    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url("/assets/icons/list.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.values_img {
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  margin-bottom: 16px;
}
.values_head {
  font-family: Rokkitt;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.values_description {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.venture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: center;
  width: 100%;
  height: 450px;
  background: url("/assets/images/venture.png") no-repeat center center;
  background-size: contain;
  @media screen and (max-width: 768px) {
    height: 300px;
    background-size: cover;
    border-radius: 16px;
  }
}
.venture_heading {
  font-family: Rokkitt;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (max-width: 768px) {
    font-size: 32px;
    line-height: 42px;
  }
}

.venture_description {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  width: 48%;
  color: #ffffff;
  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
}

.article_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 16px;
  gap: 24px;
  width: 100%;
  height: 220px;
  border-radius: 16px !important;
  span {
    width: fit-content;
    height: fit-content;
    background: #fefefe;
    border: 1px solid v#E0E0E1;
    border-radius: 8px;
    padding: 4px 10px;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #333333;
  }
}
.article_heading {
  font-family: Rokkitt;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
}

.article_desc {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
}

.carouselWrapper {
  position: relative;
}

.slideItem {
  position: relative;
  height: 510px;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 768px) {
    height: 268px;
    background-size: contain;
  }
}
.logoContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-top: 24px;
  padding-right: 24px;
  @media screen and (max-width: 768px) {
    padding-top: 12px;
    padding-right: 12px;
    img {
      width: 50px;
      height: 30px;
    }
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  color: #fff;
  max-width: 50%;
}

.title {
  font-family: Rokkitt;
  font-weight: 600;
  font-size: 85px;
  line-height: 95px;
  letter-spacing: 0%;
  @media screen and (max-width: 768px) {
    font-size: 48px;
    line-height: 58px;
  }
}

.subtitle {
  display: block;
  font-size: 2.25rem;
}

.desc {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

/* global overrides to style antd dots */
.slick-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin: 0 6px;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.slick-dots li.slick-active button {
  background: #ffffff;
}

.story_img {
  height: 450px;
  @media screen and (max-width: 768px) {
    height: 268px;
    object-fit: contain;
  }
}
