.main_layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
.main_layout_header {
  min-height: 72px;
  height: 72px;
  max-width: 1440px;
  width: 100%;
}
.main_layout_content {
  min-height: calc(100vh - 372px);
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_layout_content_container {
  /* max-width: 1440px; */
  width: 100%;
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  color: #ffffff;
  min-height: 300px;
  position: relative;
  width: 100%;
  @media screen and (max-width: 768px) {
    min-height: 400px;
    padding-top: 24px;
  }
}
.footer_content {
  max-width: 1440px;
  width: 80%;
  padding-top: 24px;

  @media screen and (max-width: 768px) {
    width: 90%;
    padding-top: 16px;
  }
}

/* .footer_container div {
} */
.footer_div {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer_p {
  /* font-family: Inter; */
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 8px;
  }
}
.footer_heading {
  font-family: Rokkitt;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
